@import "normalize.scss";

@mixin fonts($w,$s,$l) {
  font-weight: $w;
  font-size: $s;
  line-height: $l;
}

%displayLarge {
  @include fonts(900,54px,70px); //black
  margin: 0;
}

%displayMedium {
  @include fonts(900,30px,34px); //black
  margin: 0;
}

%title {
  @include fonts(700,24px,28px);  //bold
  margin: 0;
}

%subTitle {
  @include fonts(600,20px,24px); //semi-bold
  margin: 0;
}

%regular {
  @include fonts(300,16px,20px);
  color: #151D28;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  @include fonts(300,16px,20px);
  background: #F9FBFF;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100vw;
  height: 100vh;
  display: flex;
}

.title {
  @extend %displayMedium;
  color: #415167;
}

.subtitle {
  @extend %subTitle;
  color: #415167;
  margin: 0 0 5px 0;
}

.main-header {
  .title-wrapper {
    max-width: 31vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 75px 1vw 65px 13vw;
      /*.main-header__title {
        font-size: 54px;
        line-height: 70px;
        color: #415167;
        text-transform: uppercase;
          .main-header__title_special {
            background-color: #C7A17A;
            position: absolute;
            color: #fff;
          }
      }*/
  // Записи вверху и внизу одинаково правильные, но как лучше?
  }
  &__title {
    @extend %displayLarge;
    color: #415167;
    text-transform: uppercase;
  }
  &__title_special {
    background-color: #C7A17A;
    position: absolute;
    color: #fff;
    padding: 0 15px;
    margin-left: -15px;
  }
  &__video {
    width: 49vw;
    flex-grow: 1;
  }
  .nav-wrapper {
    width: 18vw;
    background-color: #415167;
    color: #EDF0F5;
    padding: 11vh 0 0 4vw;
    transition: all 0.5s ease;
    position: absolute;
    right: 0;
    height: 89vh;
      .naw-wrapper__move {
        @extend %title;
        display: none;
        margin: 0;
        position: absolute;
        transform: rotate(-90deg);
        left: -3vw;
        top: 50vh;
        width: 150px;
      }
      &:not(:hover) {
        width: 0.01vw;
          .nav-wrapper__hover-container {
            display: none;
          }
          .naw-wrapper__move {
            display: block;
          }
      }
      .user-nav__list {
        display: flex;
        gap: 25px;
        margin-bottom: 125px;
      }
      .site-nav__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
          .site-nav__item_active {
            font-weight: 700;
          }
      }
  }
}

.features {
  &__conteiner {
    height: 60vh;
    justify-content: center;
    margin-bottom: 130px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    margin: 85px 148px 125px 148px;
  }
  &__subtitle, &__title {
    align-self: center;
  }
  &__title {
    margin-bottom: 90px;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 3vw;
    align-items: flex-start;
  }
  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .items__title {
      margin:  44px 0 12px;
      color:#232C38;
      @extend %title;
    }
    .items__text {
      @extend %regular;
      text-align: center;
    }
  }
}

.coffee {
  &__wrapper-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    .coffee__wrapper-blue{
      background-color: #415167;
      width: 27vw;
      height: 100vh;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__title {
    margin-bottom: 70px;
  }
  &__grid-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

  }
  &__grid-item {
    display: flex;
    background-color: #fff;
    filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    width: 40vw;
    opacity: 0.5;
    .grid-item__content {
      margin: 42px 0 0 45px; ;
    }

    .grid-item__price {
      @extend %subTitle;
      color: #C7A17A;
      margin-bottom: 10px;
    }
    .grid-item__title {
      @extend %title;
      color: #232C38;
      margin-bottom: 24px;
    }
    .grid-item__text {
      color: #151D28;
      margin-bottom: 25px;
    }
    .grid-item__btn {
      border: 0;
      border-radius: 19px;
      background-color: #C7A17A;
      color: #fff;
      text-transform: uppercase;
      padding: 6px 15px;
      display: inline-block;
      font-weight: 700;
      margin-right: 30px;
      cursor: pointer;
    }
    .grid-item__link {
      font-weight: 700;
      color: #415167;
    }
    }
  &__grid-item_active {
    opacity: 1;
  }
  &__slide-btn {
    position: absolute;
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    right: 0;
    top: 46%;
    background-color: #C7A17A;
    cursor: pointer;
  }
}

.shopping-cart {
  position: relative;
    &:after {
    position: absolute;
    content: "2";
    right: -14px;
    top: -12px;
    width: 20px;
    height: 18px;
    background-color: #C7A17A;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    }
}
